{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}

      <!-- Code for Rolling Text
  taken from Codepen.io by Marcelo Lopez
  accessed 15-01-2023
  https://codepen.io/marcell0lopes/pen/oNemQmB -->
  <div class="main">
    <h1>Hello {{ current_user.first_name}}, I'm Yedukrishna: <div class="roller">
      <span id="rolltext">Student @<br/>
      Cardiff University<br/>
      Computing and IT Management<br/>
      <span id="spare-time">too much spare time?</span><br/>
      </div>
      </h1>
      
    </div>
    <h3 align="centre" style="align-content: center;">About Me</h3>
    <div class="AboutMe">
        <img class="photo" src="{{ url_for('static', filename='1668522370013.jfif') }}">
        <p style="font-size: large; color: rgb(244, 243, 243);">
            

Hello, I am a Masters student at Cardiff University. I have a strong passion for Computers and I am always eager to learn new skills and technologies related to my field of study.

During my time as a student, I have gained valuable experience through various projects. These projects have helped me to improve my technical skills, work effectively in a team, and manage projects from start to finish.

In my spare time, I enjoy watching movies and playing video games.

Thank you for visiting my website!
        </p>
</div>
  <!-- Code for Inspirational Quotes Carousel
  taken from Codepen.io by Rick
  accessed 15-01-2023
  https://codepen.io/RickRX/pen/PdGERw-->
<div class="col-lg-10 offset-lg-1 pt-5 pb-5 bg-dark text-light">
    <div id="client-testimonial-carousel" class="carousel slide" data-ride="carousel" style="height:200px;">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active text-center p-4">
          <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fa fa-quote-left"></i>If debugging is the process of removing software bugs, then programming must be the process of putting them in.
            </p>
            <footer class="blockquote-footer">Edsger Dijkstra <cite title="Source Title"> computer science pioneer</cite></footer>
            <!-- Client review stars -->
            <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
            <p class="client-review-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
            </p>
          </blockquote>
        </div>
        <div class="carousel-item text-center p-4">
          <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fa fa-quote-left"></i> Any fool can write code that a computer can understand. Good programmers write code that humans can understand.
            </p>
            <footer class="blockquote-footer">Martin Fowler <cite title="Source Title"> software engineer, object-oriented programming pioneer</cite></footer>
            <!-- Client review stars -->
            <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
            <p class="client-review-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </p>
          </blockquote>
        </div>
        <div class="carousel-item text-center p-4">
          <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fa fa-quote-left"></i> I do not fear computers. I fear lack of them.
            </p>
            <footer class="blockquote-footer">Isaac Asimov <cite title="Source Title">Writer</cite></footer>
            <!-- Client review stars -->
            <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
            <p class="client-review-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </p>
          </blockquote>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#client-testimonial-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#client-testimonial-carousel" data-slide-to="1"></li>
        <li data-target="#client-testimonial-carousel" data-slide-to="2"></li>
      </ol>
    </div>
  </div>


{% endblock %}
